body{
}
.wrapper{ 
     }
     
.header{padding:10px;background-color:#4D82CA;color:white}     

h1{
}

.container{
	}
.center{margin-left:43%}

.footer{ text-align:center;border-top: 1px solid gray;padding:10px;background-color:#4D82CA;color:white }

.footer a {color:lavender;text-decoration:none;}